.jp-publish-notebook .copy-link,
.jp-publish-notebook .copy-link-static {
  cursor: pointer;
  color: var(--md-blue-700) !important;
  background: var(--jp-layout-color1) !important;
  border: 1px solid var(--md-blue-700) !important;
}

.jp-publish-notebook .copy-link-static {
  margin-right: auto !important;
}

.jp-publish-notebook .copy-link:hover,
.jp-publish-notebook .copy-link-static:hover {
  background: var(--md-blue-100) !important;
}

.jp-publish-notebook .list-header {
  font-size: 16px;
  font-weight: 300;
  line-height: 1rem;
  margin-bottom: 10px;
  color: var(--jp-content-font-color0);
}

.jp-publish-notebook .header-info {
  margin-bottom: 16px;
}

.jp-publish-notebook .list {
  margin: 0;
  padding: 0;
  overflow: auto;
  max-height: 120px;
  list-style-type: none;
}

.jp-publish-notebook .list-item {
  padding: 8px;
  display: flex;
}

.jp-publish-notebook .list-item button {
  border: none;
  background: none;
  color: var(--jp-content-font-color2);
}

.jp-publish-notebook .list-item button:not([disabled]):hover {
  background: var(--jp-layout-color1) !important;
}

.jp-publish-notebook .list-item:hover,
.jp-publish-notebook .list-item:hover button:not([disabled]) {
  background: var(--jp-border-color2);
}

.jp-publish-notebook .list-item > .contact {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.jp-publish-notebook .contact .name {
  flex-grow: 1;
  display: flex;
  flex-basis: 0;
  font-weight: 400;
  margin-right: auto;
  font-size: 0.875rem;
  line-height: 1.25rem;
  word-break: break-all;
  flex-direction: column;
  letter-spacing: 0.01428571em;
}

.jp-publish-notebook .contact .email {
  font-size: 0.75rem;
  color: var(--jp-border-color1);
}

.jp-dialog-validation-error {
  bottom: -12px;
}

.jp-dialog-validation-error .message {
  bottom: 0;
  left: 50%;
  max-width: 200px;
  display: none;
  padding: 12px;
  color: white;
  position: absolute;
  transform: translateX(-50%);
  animation: show-and-remove 2s;
}

.jp-dialog-validation-error .message.has-error {
  display: block;
  background: var(--jp-error-color1);
}

.jp-dialog-validation-error .message.has-info {
  display: block;
  background: var(--jp-inverse-border-color);
}

.jp-dialog-validation-error .has-unsaved-changes {
  padding: 20px;
  background: var(--jp-layout-color2);
}

.dialog-header {
  font-weight: 500;
}

.dialog-actions {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
}

.dialog-actions button {
  margin-left: 12px;
  margin-right: 0 !important;
}

.error-dialog {
  display: none;
}

.jp-Dialog > .error-dialog.has-unsaved-changes {
  display: block;
}

@keyframes show-and-remove {
  0% {
    display: block;
  }

  100% {
    display: none;
  }
}
